.gm-green {
    background-color: green !important;
    color: white !important;
  }
  
  .gm-yellow {
    background-color: yellow !important;
    color: black !important;
  }
  
  .gm-orange {
    background-color: orange !important;
    color: black !important;
  }
  
  .gm-red {
    background-color: red !important;
    color: white !important;
  }
  