.gm-green {
  background-color: #4caf50 !important; /* Green */
  color: white;
}

.gm-yellow {
  background-color: #ffeb3b !important; /* Yellow */
  color: black;
}

.gm-orange {
  background-color: #ff9800 !important; /* Orange */
  color: black;
}

.gm-red {
  background-color: #f44336 !important; /* Red */
  color: white;
}

/* Force redraw for AG-Grid */
.force-redraw {
  animation: fadeIn 0.1s;
}

@keyframes fadeIn {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}
